body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

.main {
    padding: 10px;
}

input, label {
    font-size: 15px;
    line-height: 15px;
}

label {
    width: 100%;
}

.search {
    width: 100%;
}

.title, .content {
    width: 80%;
}

.content {
    height: 60%;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}